.sign-header {
    flex-grow: 1;
    margin-bottom: 90px;
}

.sign {
    padding-top: 50px;
    position: relative;
    z-index: 2000;
    &__container {
        padding-left: 120px;
    }

    &__heading {
        font-family: 'Manrope';
        font-weight: 300;
        font-size: 64px;
        line-height: 87px;
        color: #FFFFFF;
        margin-bottom: 12px;
    }

    &__findAcc {
        display: flex;
        align-items: center;
        margin-bottom: 36px;
    }

    &__acc {
        font-family: 'Manrope';
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
    }

    &__link {
        display: flex;
        font-family: 'Outfit';
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        padding: 2px 10px;
        margin-left: 5px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 100px;

    }

    &__form {
        padding: 0 0 0 10px;
    }

    &__form-wrapper {
        display: flex;
        align-items: flex-start;
    }

    &__input,
    .react-tel-input .form-control {
        font-family: 'Manrope';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.6);
        padding: 8px 1px;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        width: 340px;
        display: block;
        margin-bottom: 28px;
    }

    &__input::placeholder {
        color: rgba(255, 255, 255, 0.6)
    }

    &__button-wrapper {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 23.42%, rgba(255, 255, 255, 0.19) 55.06%, rgba(255, 255, 255, 0.08) 78.17%, #FFFFFF 100%) 1;
        transition: all 1s ease;

        span {
            transition: all 1s ease;
            margin-right: 40px;
        }
    }

    &__button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 59px;
        color: #FFFFFF;
        width: 190px;
        padding: 7px;
        background-color: transparent;
        border: none;
    }

    &__button-wrapper:hover {
        span {
            margin-right: 80px;
        }
    }

    @keyframes link {
        0% {
            width: 190px;
        }

        100% {
            width: 220px;
        }
    }

    // SIGN UP
    &__phone {
        display: flex;
        align-items: flex-end;
        margin-bottom: 28px;

        div {
            margin-bottom: 0;
        }
    }

    .flag-dropdown {
        display: none;
    }

    .react-tel-input {
        width: auto;
        margin-right: 48px;
    }

    .react-tel-input .form-control {
        padding: 0px;
        border-bottom: none;
        height: auto;
        color: rgba(255, 255, 255, 0.6);
    }

    &__otp-input input {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 2rem !important;
        color: rgba(255, 255, 255, 0.6);
        padding: 7px 15px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        background-color: transparent;
        outline: none;
    }

    &__otp-among {
        margin-right: 16px;
    }

    &__up-password {
        display: flex;
        align-items: center;

        input {
            margin-right: 60px;
        }
    }

    &-up__avatar {
        margin-left: 10px;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        width: 160px;
        height: 120px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        padding: 20px 30px 0;
        color: #FFFFFF;
        cursor: pointer;

        input {
            display: none;
        }
    }
}