.reco {
    padding: 30px 0;

    &__heading {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 74px;
        color: #121212;
        padding: 30px 0 40px;
        max-width: 750px;
    }

    &__form {
        padding: 50px 20px 80px;
        background: #FAF9FB;
        border-radius: 18px;
        max-width: 1300px;
    }

    &__labels {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__label {
        position: relative;
        display: inline-block;
        width: 65%;
        margin-right: 20px;

    }

    &__label-first {
        width: 120%;

        span {
            background: rgba(255, 255, 255, 0.1);
        }

        input {
            background: #A044FA;
            color: white;
            border: none;
        }

        input::placeholder {
            color: white;
        }

        input:focus {
            border: none;
        }
    }

    &__div {
        margin-right: 20px;
    }

    &__input {
        min-height: 80px;
        width: 100%;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='40' ry='40' stroke='%23333' stroke-opacity='0.4' stroke-width='2'  stroke-dasharray='3%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        stroke-opacity: 0.5;
        border-radius: 40px;
        border: 0px solid;
        border-radius: 100px;
        padding: 18px 25px 18px 75px;
        outline: none;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #121212;
    }
    .bref {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;

        display: flex;

    }
    .bref__label {
        position: relative;
        min-height: 80px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='40' ry='40' stroke='%23333' stroke-opacity='0.4' stroke-width='2' stroke-dasharray='3%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 40px;
        border: 0px solid;
        border-radius: 100px;
        padding: 18px 25px 18px 75px;
        outline: none;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #121212;
        display: flex;
        align-items: center;
        span {
            left: 0;
        }
    }
    &__input:focus {
        border: 1px solid rgba(18, 18, 18, 1);
        background-image: none;
        transition: border 2.6s linear;

    }

    &__input::placeholder {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #121212;
    }

    &__input-icon {
        position: absolute;
        top: 50%;
        transform: translate(20px, -50%);
        background-color: rgba(18, 18, 18, 0.1);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}