@font-face {
    font-family: NewRomanItalic;
    src: url("../../Assets/Fonts/TimesNewRomanItalic.ttf");
}
.hero {
    // position: relative;
    padding: 40px 0 0;
    &__heading {
        position: relative;
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 64px;
        line-height: 68px;
        color: #FFFFFF;
        max-width: 700px;
        margin-bottom: 74px;
    }
    &__heading-span {
        font-family: NewRomanItalic;
    }
    &__heading::after {
        content: url("../../Assets/Images/afterWhite.svg");
        position: absolute;
        fill: white;
        right: -20px;
        bottom: -50px;
    }
    &__link {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 89px;
        color: #FFFFFF;
        text-decoration: none;

        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);


        span {
            position: absolute;
            border-radius: 100vmax;
          }
    }
    &__about-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 450px;
        margin-bottom: 375px;

    }
    &__link-vector {
        transition: 1s;
        margin-left: 450px;
    }
    &__link:hover &__link-vector {
        margin-left: 100px;
        transform: translate(30px);
    }
    &__link-container {
        display: flex;
        align-items: center;
    }
    &__link-desc {
        margin-right: 40px;
    }
    &__link-img {
        margin-right: 40px;
    }
    &__profile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.profile {
    z-index: 1000;
    position: relative;
    display: flex;
    transition: 0.2s;
    &__about {
        position: absolute;
        top: 90px;
        width: 0;
    }
}

.profile:hover {
    transform: scale(1.2);
    z-index: 1010;
}

.tooltip {
    min-width: 200px;
    position: relative;
    visibility: hidden;
    background-color: #FFFFFF;
    color: black;
    padding: 15px;
    border-radius: 15px;

    h3 {
        width: 215px;
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
    }
    p {
        font-weight: 700;
        font-size: 11px;
        line-height: 15px;
        text-decoration-line: underline;
    }
}

.profile:hover .tooltip {
    visibility: visible;
}

.tooltip::after {

    content: " ";
    position: absolute;
    left: 10%;
    transform: translate(0, -270%);
    margin-left: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent  ;
}



  .top {
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(208, 194, 194, 0.5),
      rgb(244, 244, 244)
    );
  }

  .bottom {
    right: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgb(217, 220, 216),
      rgba(232, 235, 231, 0.5),
      transparent 50%
    );
  }


  .top {
    animation: animateTop 10s ease-in-out infinite;
  }

  .bottom {
    animation: animateBottom 10s ease-in-out infinite;
  }

  .right {
    animation: animateRight 0.1s linear infinite;
  }

  .left {
    animation: animateLeft 0.1s ease-in-out infinite;
  }

  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }

    30%,
    100% {
      opacity: 0;
    }
  }

  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }

    75% {
      opacity: 1;
      width: 100%;
    }

    76%,
    100% {
      opacity: 0;
    }
  }

  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }

    50% {
      opacity: 1;
      height: 100%;
    }

    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }

  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }

    100% {
      opacity: 1;
      height: 100%;
    }
  }