@font-face {
    font-family: NewRomanItalic;
    src: url("../../Assets/Fonts/TimesNewRomanItalic.ttf");
}
.hero {
    // position: relative;
    padding: 40px 0 0;
    &__heading {
        position: relative;
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 64px;
        line-height: 68px;
        color: #FFFFFF;
        max-width: 700px;
        margin-bottom: 74px;
    }
    &__heading-span {
        font-family: NewRomanItalic;
    }
    &__heading::after {
        content: url("../../Assets/Images/after.svg");
        position: absolute;
        right: -20px;
        bottom: -50px;
    }
    &__link {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 89px;
        color: #FFFFFF;
        text-decoration: none;

        border-top: 1px solid;
        border-bottom: 1px solid;
        border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 23.42%, rgba(255, 255, 255, 0.19) 55.06%, rgba(255, 255, 255, 0.08) 78.17%, #FFFFFF 100%)
        1;
    }
    &__about-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 450px;
        margin-bottom: 375px;
    }
    &__link-vector {
        transition: 1s;
        margin-left: 450px;
    }
    &__link:hover &__link-vector {
        margin-left: 100px;
        transform: translate(30px);
    }
    &__link-container {
        display: flex;
        align-items: center;
    }
    &__link-desc {
        margin-right: 40px;
    }
    &__link-img {
        margin-right: 40px;
    }
    &__profile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.profile {
    z-index: 1000;
    position: relative;
    display: flex;
    transition: 0.2s;
    &__about {
        position: absolute;
        top: 90px;
        width: 0;
    }
}

.profile:hover {
    transform: scale(1.2);
    z-index: 1010;
}

.tooltip {
    min-width: 200px;
    position: relative;
    visibility: hidden;
    background-color: #FFFFFF;
    color: black;
    padding: 15px;
    border-radius: 15px;

    h3 {
        width: 215px;
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
    }
    p {
        font-weight: 700;
        font-size: 11px;
        line-height: 15px;
        text-decoration-line: underline;
    }
}

.profile:hover .tooltip {
    visibility: visible;
}

.tooltip::after {

    content: " ";
    position: absolute;
    left: 10%;
    transform: translate(0, -270%);
    margin-left: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent  ;
}