:root {
    --animation-time: 2s;
}

.d-none {
    display: none;
}

.hero {
    &__header {
        position: relative;
        overflow: hidden;
    }

    &__header-bg {
        position: absolute;
        div {
            position: relative;
        }
    }

    &__header-bgTop {
        position: absolute;
        // top: -865px;
        width: 1730px;
        height: 1730px;
        border-radius: 50%;
        background: #4A2893;
        filter: blur(157px);
        transform: rotate(-180deg);
        transform: translate(-875px, -875px);
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__header-bgCenter {
        width: 1230px;
        height: 1230px;
        border-radius: 50%;
        background-color: #8000FF;
        // filter: blur(157px);
        transform: rotate(-180deg);
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__header-bgBottom {
        width: 930px;
        height: 930px;
        border-radius: 50%;
        background: #151110;
        // filter: blur(212px);
        transform: rotate(-180deg);
        z-index: -1;
    }
}

.home__card {
    padding-top: 40px;

    &-container {
        display: grid;
        grid-template-columns: repeat(5, minmax(335px, 1fr));
        column-gap: 32px;
        row-gap: 30px;
    }
}

@media only screen and (max-width: 1900px) {
    .home__card {
        padding-top: 40px;

        &-container {
            display: grid;
            grid-template-columns: repeat(4, minmax(335px, 1fr));
            column-gap: 32px;
            row-gap: 30px;
        }
    }
}

.nav__sticky {
    // position: fixed;
    transition: all 0.5s ease;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1021;

}

.nav__topDic {
    top: -96px;
}

.nav__fixed {
    // background-color: white;
    // position: fixed;
    transition: all 0.5s ease;
    z-index: 1021;
    top: 0;

    .navbar {
        position: relative;
        transition: all 0.2s ease;
        z-index: 1002;
        border-bottom: 1px solid rgba(204, 204, 204, 0.7);

        &__logo,
        &__link,
        &__right-link {
            color: #121212;
        }

        &__list {
            border: 1px solid #CCCCCC;
        }

        &__link-menu {
            background: rgba(204, 204, 204, 0.2);
        }

        &__right-link {
            border: 1px solid rgba(18, 18, 18, 0.2);
        }
    }

}

.bg__fix {
    .navbar {
        position: relative;
        transition: all 0.2s ease;
        z-index: 1002;
        background-color: white;

        &__logo,
        &__link,
        &__right-link {
            color: #121212;
        }

        &__list {
            border: 1px solid #CCCCCC;
        }

        &__link-menu {
            background: rgba(204, 204, 204, 0.2);
        }

        &__right-link {
            border: 1px solid rgba(18, 18, 18, 0.2);
        }
    }
}

.sticky__link {
    position: sticky;
    top: 0;
    height: 100%;
    margin-top: -81px;
    transition: top 0.5s ease;
    z-index: 1011;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .link {
        border-bottom: 1px solid rgba(86, 85, 85, 0.2);
    }

}

.sticky__link-bg {
    top: 0;
    background-color: #ffffff;
    z-index: 1011;
    transition: all 0.5s ease;

    .link__hr {
        background: rgba(86, 80, 80, 0.2);
    }

    .link__add {
        color: rgba(86, 80, 80, 0.5);
    }

    .link__add-span {
        color: rgba(86, 80, 80, 0.5);
        background: rgba(86, 80, 80, 0.2);
    }

    .link__button-wrapper {
        border-right: 1px solid rgba(86, 80, 80, 0.1);

    }

    .link__button-wrapper button {
        color: rgba(86, 80, 80, 0.5);
    }

    .link__button-wrapper button.link__active {
        color: #565050;
    }
}

.scroll__top {
    background-color: #ffffff;
    transition: top 0.5s ease;
    z-index: 1001;

    .link__hr {
        background: rgba(86, 80, 80, 0.2);
    }

    .link__add {
        color: rgba(86, 80, 80, 0.5);
    }

    .link__add-span {
        color: rgba(86, 80, 80, 0.5);
        background: rgba(86, 80, 80, 0.2);
    }

    .link__button-wrapper {
        border-right: 1px solid rgba(86, 80, 80, 0.1);

    }

    .link__button-wrapper button {
        color: rgba(86, 80, 80, 0.5);
    }

    .link__button-wrapper button:hover {
        color: rgb(86, 80, 80);
    }

    .link__button-wrapper button.link__active {
        color: #565050;
    }

    .link__add:hover {

    }
     .link__add-desc {
        color: rgba(86, 80, 80, 0.5);
    }
    .link__add-desc:hover {
        color: rgb(86, 80, 80);
    }

}