.card {
    width: 100%;
    &__header {
        position: relative;
    }
    &__img {
        border-radius: 8px;
        margin-bottom: 7px;
        width: 100%;
    }
    &__title {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 4px;
    }
    &__desc {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: #000000;
        opacity: 0.4;
        text-transform: uppercase;
    }
    &__hover {
        display: none;
        // display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        background: rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(17px);
        border-radius: 10px;
        width: 95%;
        left: 50%;
        bottom: 20px;
        transform: translate(-50%);
        transition: all 1s ease;
        padding: 10px 20px;
        div {
            display: flex;
            align-items: center;
        }

        h3 {
            font-family: 'Outfit';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }
        p {
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: #FFFFFF;
            margin-right: 6px;

        }
        button {
            display: flex;
            align-items: center;
            border: none;
            color: transparent;
            cursor: pointer;
            background-color: transparent;
            margin-right: 10px;

            svg {
                fill: currentColor;
                // color: red;
                width: 15px;
                height: 13px;
            }

        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 6px;
            background-color: rgba(255, 255, 255, 0.3);
        }
        a > img {
            width: 18px;
            height: 18px;
        }
    }
}

.card:hover .card__hover {
    display: flex;
    transition: all 1.3s ease;
}